@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fcfcfc;
}
body {
  font-family: 'Raleway Variable', sans-serif;
}
h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #9ca3af;
}
h2 {
  font-size: 1.4rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #44c949;
}
h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  color: rgb(31 41 55);
}
h4 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  color: rgb(31 41 55);
}
p {
  color: #728595;
}
input {
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &::placeholder {
    opacity: 0.4;
  }
}
.Table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border-radius: 0.5rem;
  thead {
    th {
      background: #f3f4f6;
      color: #728595;
      &:first-child {
        border-top-left-radius: 0.5rem;
      }
      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }
  }
  tbody {
    border: 1px solid #f3f4f6;
  }

  th {
    text-align: center;
    border-bottom: 1px solid #f3f4f6;
    font-weight: 300;
    font-size: 16px;
    padding: 1.25rem 0.5rem;
    line-height: normal;
  }
  td {
    padding: 1.25rem 0.5rem;
    border-bottom: 1px solid #f3f4f6;
    color: #9ca3af;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
.button-tty {
  &:hover {
    background-color: #44c949 !important;
  }
  &.enabled\:hover\:text-cyan-700:hover:enabled {
    color: #44c949 !important;
  }
}
select:focus {
  --tw-border-opacity: 1;
  border-color: #44c949 !important;
}

#Home {
  ul {
    a {
      font-size: 1em;
      font-weight: 600;
      text-decoration: underline;
      line-height: 1.5em;
      color: #9ca3af;
    }
  }
}
nav {
  a {
    color: #9ca3af;
    &:hover {
      color: #ffab49;
      text-decoration: underline;
    }
    &.is-active {
      color: #ffab49;
      text-decoration: underline;
    }
  }
}
.nav-primary li {
  position: relative;
  &:not(:last-child)::before {
    content: '|';
    position: absolute;
    right: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 225 11% 93%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --blue: #4d6d98;
    --black: #989898;
    --black-soft: #b1b1b1;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
